body {
  font-family: "Roboto", sans-serif;
}
.nav {
  background-color: rgb(29, 29, 29);
}
.navSections {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSections a {
  margin: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.navSections2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navSections2 i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.navSections2 i:hover {
  cursor: pointer;
}
.navSections2 span {
  color: white;
  padding: 30px;
  font-size: 1.5rem;
}
.foodsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.productDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productDiv {
  font-size: 1.3rem;
}
.productDiv img {
  height: 400px;
  width: 400px;
}
.cartBtn {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(255, 165, 30);
  color: white;
  border-radius: 4px;
}

.cartBtn:hover {
  background-color: rgb(233, 154, 7);
}

.cartBtn:active {
  transform: translate(0em, 0.2em);
}
.sidebarCart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(29, 29, 29);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  display: flex;
  flex-direction: column;
}
.sidebarCart h2 {
  text-align: center;
}
.cartDiv {
  display: flex;
  align-items: center;
}
.cartDiv p {
  padding: 10px;
}
.cartDiv img {
  height: 70px;
  width: 70px;
}
